section.new-tweet {
    margin-top: 100px;
    padding: 1em;
    padding-top: 0;
    background-color: #eeeeee;
    border: 1px solid #cecece;
    border-radius: 10px;
    margin-bottom: 2em;
    display: none;
}

textarea {
    overflow: auto;
    padding: 0.5em;
    width: -webkit-fill-available;
    margin: auto;
}

.new-tweet h2 {
    border-bottom: 1px solid #000000;
}

span.counter {
  float: right;
}

.text-too-long {
  color: red;
}

#error-message {
    color: red;
    margin: 1em;
    margin-right: 5em;
    float: right;
    line-height: 0.2em;
}